@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b; /* zinc-950 */
    color: #ffffff;
    font-family: 'Inter', sans-serif;
  }
}

.font-display {
  font-family: 'Montserrat', sans-serif;
}
